<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>YouConnect </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <!--  <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="jumbotron" style="align-items:center;">
     <div class="row" style="text-align:center; margin-left:25%">
      <h1 style="font-size:90px;">Available Connections</h1>
     </div>
     <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn btn-primary" />
    </form>
    </div>

    <div style="margin:0px 100px 0px 100px;">
        <% for (let i = 0; i < users.length; i++) { %>
          <% if (users[i].id != currentUser.id) { %>
          <div class="row" style="margin:5px; border: 1px solid grey;">
            <%= users[i].firstName %> <br>
            <%= users[i].lastName %> <br>
           <div style="margin-left:25px"> <a href="/users/<%= users[i].id %>">
                  <%= users[i].username %> 
                </a>
           </div>

          </div>
        <% } %>
      <% } %>
    </div>

 </body>
</html>